
/*
// TODO Make this css a bit clear
	text: 101010
	links: dc780d
	background: 086fa1
	nav background: [4f99bc] to [63add0]
	nav hover background: 3ca0d0
	nav subtext: 034769
	testimonials bubble: 63add0
*/

/* Basic margin/padding reset */
* { margin:0; padding:0; }

/* Link colours and heading formatting */

h1 { font:bold 2em 'Calibri',sans-serif; line-height:1em; }
h1 a { color:#dc780d; }
h2 { font:bold 1.75em 'Calibri',sans-serif; line-height:1em; }
h2 a { color:#dc780d; }
h3 { font:bold 1.5em 'Calibri',sans-serif; line-height:1em; }
h3 a { color:#dc780d; }
h4 { font:bold 1.2em 'Calibri',sans-serif; line-height:1em;margin-bottom:3px; }
/* Generic classes */
.clear_both { clear:both; }
.img.left { border:1px #bfbfbf solid; float:left; margin:0 10px 10px 0; padding:2px; }
.img.right { border:1px #bfbfbf solid; float:right; margin:0 0 10px 10px; padding:2px; }
.flightList ol li {font: normal 1em Georgia, Times, serif;margin: 10px 0 0 50px;list-style-image: url(/img/icons/flight.jpg)}
/* Design */


#content_border { background-color:#4693b9; background-color:rgba(255,255,255,0.25); border:1px #7eb4ce solid; border-color:rgba(255,255,255,0.3); border-radius:6px; -moz-border-radius:6px; -webkit-border-radius:6px; margin:auto; padding:14px; }
#content- { background:#ffffff url('../img/content-background.png') repeat-x center top; box-shadow:3px 3px 2px rgba(0,0,0,0.1); -moz-box-shadow:3px 3px 2px rgba(0,0,0,0.1); -webkit-box-shadow:3px 3px 2px rgba(0,0,0,0.1); overflow:visible; padding:0px 0 30px; }
#content- > h1 { height:30px; text-indent:-9999px; }

/* Navigation */
nav { background-color:#63add0; background-image:url('../img/nav-background.png'); background-image:-moz-linear-gradient(100% 100% 90deg, #63add0, #4f99bc); background-image:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#4f99bc), to(#63add0)); display:block; margin:0 -10px 10px; overflow:hidden; padding:0 10px 0; width:100%; }
nav .nav_item { border-left:1px #91c1d8 solid; border-left-color:rgba(255,255,255,0.35); color:#ffffff; display:block; float:left; padding:20px 20px 15px; height:40px; }
nav .nav_item.welcome { border-left:none; }
nav .nav_item:hover { background-color:#3ca0d0; }
nav .nav_item p { color:#034769; }
nav .nav_item h3 { font-size:1.77em; }
nav .nav_item h3 a { color:#ffffff; }
nav .nav_item a img { border:none; }

/* Main content area */
.section { display:block; float:left; margin:0 0 0 ; width:100%; }
.section h2 { margin:10px 0 5px; }
.section p { margin-top:5px; }
.section ul { list-style-position:inside; list-style-type:circle; margin:10px 0 10px 15px; }
.section ul li { margin-top:2px; }
.section ol li {list-style: upper-roman; margin: 10px 0 0 50px;


}
/* Slideshow on home page */
#gallery { height:328px; margin:1px 0 0px; overflow:hidden; position:relative; }
#gallery .photos {  }
#gallery .fairs{
    position:absolute;
    height:90px;
    width:100%;
    background-color:#000;
    z-index:99;

    top:73%;
    background-color:rgba(0,0,0,0.5);
    padding-top:5px;

   

}
#gallery .photos .item { height:328px; left:0; opacity:0.0; position:absolute; top:0; width:100%; z-index:8; }
#gallery .photos .item.active { z-index:10; opacity:1.0; }
#gallery .photos .item.last-active { z-index:9; }
#gallery .photos .item h3 { background-color:#000000; background-color:rgba(0,0,0,0.5); color:#fcfcfc; padding:5px;display:none; }
#gallery .previous, #gallery .next { background:transparent url('../img/gallery.png') no-repeat 0 0; color:#fcfcfc; display:none; height:30px; left:0; position:absolute; top:270px; width:30px; z-index:11; }
#gallery .next { background-position:0 -30px; left:570px; }
#gallery .previous:hover { background-position:0 -60px; }
#gallery .next:hover { background-position:0 -90px; }
#gallery .previous:hover, #gallery .next:hover { background-color:#000000; background-color:rgba(0,0,0,0.5); }

/* Buttons on about page */
#buttons {  float:left; margin-top:20px; overflow:hidden; padding:10px 0 10px; }
#buttons p { text-align:center; }
#buttons p a, #buttons p a:visited { background-color:#3ca0d0; border-bottom:1px solid rgba(0,0,0,0.25); border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; box-shadow:0 1px 3px rgba(0,0,0,0.5); -moz-box-shadow:0 1px 3px rgba(0,0,0,0.5); -webkit-box-shadow:0 1px 3px rgba(0,0,0,0.5); color:#f5f5f5; display:inline-block; font:bold 11pt 'Segoe UI',sans-serif; line-height:1em; margin:0 10px 5px; padding:5px 15px 6px; position:relative; text-decoration:none; text-shadow:0 -1px 1px rgba(0,0,0,0.25); }
#buttons p a:hover, #buttons p a:active { box-shadow:0 1px 3px rgba(0,0,0,0.6); -moz-box-shadow:0 1px 3px rgba(0,0,0,0.6); -webkit-box-shadow:0 1px 3px rgba(0,0,0,0.6); }

/* List of social networks on about page */
#social_networks { list-style:none; margin-top:10px; overflow:hidden; }
#social_networks li { border-top:1px #a6a6a6 dashed; display:block; float:left; height:20px; margin:0 4% 0; overflow:hidden; padding:10px 0 10px 2%; width:40%; }
#social_networks li:hover { font-weight:bold; }
#social_networks li img { float:left; margin-right:10px; }

/* Services page */
#services { width:100%; }
#services .article { font:1.1em 'calibri' ,sans-serif; line-height: 1.2em;border:1px solid #bfbfbf; border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px; box-shadow:3px 3px 2px rgba(0,0,0,0.05); -moz-box-shadow:3px 3px 2px rgba(0,0,0,0.05); -webkit-box-shadow:3px 3px 2px rgba(0,0,0,0.05); display:block; margin-top:20px; }
#services message { font:1.1em 'calibri',sans-serif; line-height: 1.2em;border:1px solid #bfbfbf; border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px; box-shadow:3px 3px 2px rgba(0,0,0,0.05); -moz-box-shadow:3px 3px 2px rgba(0,0,0,0.05); -webkit-box-shadow:3px 3px 2px rgba(0,0,0,0.05); display:block; margin-top:20px; background-color:  #bce2f6;border-color:  #75cbf7;padding:10px;}
.message { font:1.1em 'calibri',sans-serif; line-height: 1.2em;border:1px solid #bfbfbf; border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px; box-shadow:3px 3px 2px rgba(0,0,0,0.05); -moz-box-shadow:3px 3px 2px rgba(0,0,0,0.05); -webkit-box-shadow:3px 3px 2px rgba(0,0,0,0.05);  background-color:  #bce2f6;border-color:  #75cbf7;padding:4px;margin:3px;padding-right:10px;display: inline-table}
.error { border-top:1px #a6a6a6 dotted; border-bottom:1px #a6a6a6 dotted; float:none; margin-top:20px; overflow:hidden; padding:10px; background-color: #FFE8E8;color:#C00;font-weight: bold;}

.messageBox {font:1.1em 'calibri',sans-serif; line-height: 1.2em;border:1px solid #bfbfbf; border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px; box-shadow:3px 3px 2px rgba(0,0,0,0.05); -moz-box-shadow:3px 3px 2px rgba(0,0,0,0.05); -webkit-box-shadow:3px 3px 2px rgba(0,0,0,0.05);  background-color:  #bce2f6;border-color:  #75cbf7; padding: 10px;}

.messageBoxEng {font:0.9em 'Calibri',sans-serif; line-height: 1.2em;border:1px solid #bfbfbf; border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px; box-shadow:3px 3px 2px rgba(0,0,0,0.05); -moz-box-shadow:3px 3px 2px rgba(0,0,0,0.05); -webkit-box-shadow:3px 3px 2px rgba(0,0,0,0.05);  background-color:  #bce2f6;border-color:  #75cbf7; padding: 10px;}


#services .message_no_margin {height:170px; font:1.1em 'calibri',sans-serif; line-height: 1.2em;border:1px solid #bfbfbf; border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px; box-shadow:3px 3px 2px rgba(0,0,0,0.05); -moz-box-shadow:3px 3px 2px rgba(0,0,0,0.05); -webkit-box-shadow:3px 3px 2px rgba(0,0,0,0.05); display:block; background-color:  #bce2f6;border-color:  #75cbf7;padding:10px;margin:3px;}
#services graybox { font:1.1em  arial; line-height: 1.2em;border:1px solid #bfbfbf; border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px; box-shadow:3px 3px 2px rgba(0,0,0,0.05); -moz-box-shadow:3px 3px 2px rgba(0,0,0,0.05); -webkit-box-shadow:3px 3px 2px rgba(0,0,0,0.05); display:block; margin-top:20px; background-color:   #f4f3f2;border-color: #d6d5d3;padding:10px;}
 .graybox { font:1.1em  arial; line-height: 1.2em;border:1px solid #bfbfbf; border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px; box-shadow:3px 3px 2px rgba(0,0,0,0.05); -moz-box-shadow:3px 3px 2px rgba(0,0,0,0.05); -webkit-box-shadow:3px 3px 2px rgba(0,0,0,0.05); display:block; margin-top:20px; background-color:   #f4f3f2;border-color: #d6d5d3;padding:10px;}
#services .article p{font:0.9em sans-serif; line-height: 1.5em}
#services .article h3 { padding:5px;font-size:1em; }
#services .article > div { border-top:1px #bfbfbf solid; overflow:hidden; padding:10px; }
#services .article > div img { border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px; float:left; margin-right:10px; }
#services .article > div ul { border-left:1px #e2e2e2 solid; float:right; list-style:none; margin:0 0 0 10px; padding-left:10px;  width:200px; }
#services .article > div ul li { background:transparent url('../img/check.png') no-repeat left center; border-bottom:1px #e2e2e2 solid; margin-bottom:5px; padding:4px 0 5px 22px; }
#services .article > div div { overflow:hidden; }



#services .articlesin{ font:0.9em 'Calibri'; line-height: 1.2em;border:1px solid #bfbfbf; border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px; box-shadow:3px 3px 2px rgba(0,0,0,0.05); -moz-box-shadow:3px 3px 2px rgba(0,0,0,0.05); -webkit-box-shadow:3px 3px 2px rgba(0,0,0,0.05); display:block; margin-top:20px; }

#services .articlesin h3{font-family: 'calibri';padding:5px;font-size:1em; }
#services .articlesin p{font:0.9em 'calibri'  ,sans-serif; line-height: 1.5em}

#services .articlesin > div { border-top:1px #bfbfbf solid; overflow:hidden; padding:10px; }
#services .articlesin > div img { border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px; float:left; margin-right:10px; }
#services .articlesin > div ul { border-left:1px #e2e2e2 solid; float:right; list-style:none; margin:0 0 0 10px; padding-left:10px;  width:200px; }
#services .articlesin > div ul li { background:transparent url('../img/check.png') no-repeat left center; border-bottom:1px #e2e2e2 solid; margin-bottom:5px; padding:4px 0 5px 22px; }
#services .articlesin > div div { overflow:hidden; }
/* Contact form */
#contact_form {  }
#contact_form fieldset { background-color:#4f99bc; border:none; border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px; margin-top:10px; overflow:hidden; }
#contact_form fieldset p { margin-top:0; }
#contact_form fieldset p label { background:transparent url('../img/form.png') no-repeat 0 0; color:#ffffff; display:block; float:left; font-weight:bold; height:18px; padding:6px 10px 6px; text-align:right; width:90px; }
#contact_form fieldset p label.valid { background-position:5px -30px; }
#contact_form fieldset p label.invalid { background-position:0 -60px; }
#contact_form fieldset p input { background-color:#ffffff; border:1px #4f99bc solid; border-radius:0 4px 4px 0; -moz-border-radius:0 4px 4px 0; -webkit-top-bottom-right-radius:4px; -webkit-border-bottom-right-radius:4px; outline:none; padding:6px; width:476px; }
#contact_form fieldset p input[disabled] { background-color:#f0f0f0; color:#333333; }
#contact_form fieldset p textarea { background:#ffffff url('../img/form-lines.png') repeat center top; border:1px #4f99bc solid; border-radius:0 4px 4px 0; -moz-border-radius:0 4px 4px 0; -webkit-border-top-right-radius:4px; -webkit-border-bottom-right-radius:4px; height:148px; line-height:1.75em; outline:none; padding:6px; resize:none; width:476px; }
#contact_form fieldset p textarea[disabled] { background-color:#f0f0f0; color:#333333; }
#contact_form > p input { background-color:#4f99bc; background-image:-moz-linear-gradient(100% 100% 90deg, #63add0, #4f99bc); background-image:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#4f99bc), to(#63add0)); border:1px #4f99bc solid; border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px; color:#ffffff; cursor:pointer; font-weight:bold; margin-top:5px; padding:6px; width:100%; }

/* Side-bar content area */
aside { display:block; float:right; margin:20px 30px 0 0; width:250px; }

/* Testimonials */
#testimonial { background-color:#fcfcfc; border:1px solid #bfbfbf; border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px; box-shadow:3px 3px 2px rgba(0,0,0,0.05); -moz-box-shadow:3px 3px 2px rgba(0,0,0,0.05); -webkit-box-shadow:3px 3px 2px rgba(0,0,0,0.05); padding:10px; }
#testimonial p:last-of-type { background:transparent url('../img/testimonials.png') no-repeat right bottom; margin:0 -15px -30px 10px; padding:0 15px 30px 0; }

/* Twitter */
#twitter { background-image:-moz-linear-gradient(75% 50% 135deg, #ffffff, #fcfcfc); background-image:-webkit-gradient(linear, 0% 0%, 50% 75%, from(#fcfcfc), to(#ffffff)); margin-top:40px; padding:5px 5px 0; }
#twitter h2 { background:transparent url('../img/twitter.png') no-repeat left top; margin:-30px 0 0 -5px; padding:30px 0 0 40px; }
#twitter h2 em { color:#333333; }
#twitter h2 a { color:#34ccff; }
#twitter ul { list-style:none; overflow:hidden; }
#twitter ul li { border-top:1px #bfbfbf solid; margin-top:10px; padding:10px 0 0 5px; }
#twitter ul li a {  }
#twitter ul li date { color:#333333; display:block; font-style:italic; margin-left:10px; }

/* Flickr */
#flickr { background-image:-moz-linear-gradient(75% 50% 135deg, #ffffff, #fcfcfc); background-image:-webkit-gradient(linear, 0% 0%, 50% 75%, from(#fcfcfc), to(#ffffff)); margin-top:40px; padding:5px 5px 0; }
#flickr h2 { background:transparent url('../img/flickr.png') no-repeat left top; margin:-30px 0 0 -15px; padding:30px 0 0 55px; }
#flickr h2 em { color:#333333; }
#flickr h2 a { color:#0063dc; }
#flickr h2 a span { color:#ff0084; }
#flickr ul { list-style:none; margin-top:10px; overflow:hidden; }
#flickr ul li { float:left; margin-right:5px; }
#flickr ul li a img { border:none; }

/* Contact address */
#address { background:transparent url('../img/address.png') no-repeat right bottom; margin:0 -20px -20px 0px; padding: 0 20px 20px 0; }
#address h2 { margin-bottom:5px; }
#address p { border-left:3px #4f99bc solid; margin-left:10px; padding-left:10px; }

/* Contact phone */
#phone { margin-top:20px;  }
#phone h2 { margin-bottom:5px; }
#phone p { border-left:3px #4f99bc solid; margin-left:10px; padding-left:10px; }


#survey{
	
	}
	
	#survey table td{
		padding:5px;
		}
		
		#survey  h2{
			font-size: 14px;
			color:    #000;
			margin:6px 0px 6px 4px;
			}
			
		#survey {
			font-size:11px;
			color: #333;
			}